.error_block {
    margin: 133px 0 120px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.error_number_block {
    margin: 48px 0 21px 0;
}
.back_block a {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    text-decoration-line: underline;
    color: #BC2B24;
}
.error_number {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #BC2B24;
}
.error_number_block {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: black;
}
.error_image_block img {
    width: 375px;
    height: 283px;
}
.visa_phone {
    display: none;
}
.icon_phone {
    display: none;
}

