@media screen and (max-width: 1024px) {
    .error_image_block {
        width: auto;
        height: auto;
    }
    .error_image_block img {
        width: 340px;
        height: 257px;
    }
    .error_block {
        margin: 68px 0 60px 0;
    }
    .error_number {
        font-size: 30px;
    }
    .error_info {
        font-size: 30px;
    }
    .back_block {
        font-size: 23px;
    }
    .error_block {
        margin: 98px 0 60px 0;
    } 
}