* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monsterrat-Light";
}

body {
    max-width: 1920px;
    min-width: 320px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: "Monsterrat-Light";
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Monsterrat-Extra";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Monsterrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}
*:focus {
    outline: none;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 300ms;
}

a:hover {
    color: #EFAB22;
    transition: all 300ms;
}

button a svg {
    margin-right: 14px;
}

button a svg path {
    fill: black;
    transition: all 300ms;

}

button:hover a svg path {
    fill: #FEBC39;
    transition: all 300ms;

}

button a {
    justify-content: center !important;
    color: #000000;
    text-decoration: none;
    transition: all 300ms;
}

button:hover a {
    color: #EFAB22;
    transition: all 300ms;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overflow {
    overflow: hidden;
}

.wrapper {
    margin: 0 150px;
}

.general_title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    font-family: "Monsterrat-Extra";
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 287px 0 150px;
    padding: 34px 0;
}
.accept_orders_block{
    display: flex;
    align-items: center;
}
.accept_orders_date{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}
.accept_orders_text_side {
    margin-left: 15px;
}
.call_block_text_side {
    margin-left: 15px;
}
.accept_orders {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #000000;
}
.map_info_text .menu_call_address {
    margin-bottom: 6px;
}
.map_info_text .menu_call_address .menu_call_phone .menu_call_phone_title {
    margin-bottom: 0;
}
.map_info_text .accept_orders_block .accept_orders_text_side .accept_orders {
    font-size: 18px;
}
.call_block_free {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #BC2B24;
}
.about_us, .contact {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #000000;
    cursor: pointer;
}
.call_block{
    display: flex;
    align-items: center;
}
.call_block_free{
    display: block;
}
.header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 194px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.thank_block {
    margin-top: 70px;
    background-image: url(../img/order_bacgr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}
.text_red {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #BC2B24;
}
.text_black {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: black;
}
.thank_red {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #BC2B24;
}
.thank_black {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
.burger_appeared span {
    cursor: pointer;
}
.burger:hover, .burger_appeared:hover {
    cursor: pointer;
}
.product_button {
    width: 177px;
    height: 43px;
    background-color: #FEBC39;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #FEBC39;
    transition: all 300ms ease-out;
}

.product_button:hover {
    background-color: transparent;
    transition: all 300ms ease-in;
}

.line {
    border: 1px solid #E8E8E8;
}
.product_side .content:first-child{
    margin: 0 0 100px;
}
.content {
    margin: 100px 0 100px;
}
.product_block {
    width: 383px;
    height: 554px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 35px;
    border-radius: 8px;
    padding-top: 10px;
}
.product_block:hover {
    box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
}
.d_none{
    display: none;
}
.discount_hit_block{
    position: absolute;
    top: 10px;
    left: 50px;
}
.product_img_block {
    width: 275px;
    height: 299px;
    margin: 0 auto;
}

.product_text_block {
    margin: 10px 19px 40px;
}
.product_title_block{
    margin: 10px 0 27px;
    display: flex;
    align-items: center;
}
.product_icon{
    margin-left: 11px;
}
.product_title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    font-family: "Monsterrat-Medium";
}

.product_desc {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
}

.product_price_button_block {
    margin-bottom: 29px;
    padding: 0 19px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_add {
    width: 177px;
    height: 43px;
    background-color: #FEBC39;
    border: 1px solid #FEBC39;
    border-radius: 8px;
    transition: all 300ms;
    cursor: pointer;
}

.product_discount_price {
    text-decoration: line-through;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.product_price {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}
.product_add:hover {
    background-color: transparent;
    transition: all 300ms;
}

.slick-dots {
    bottom: 19px;
}
.slick-dots li button::before {
    font-size: 20px;
}
.a-left {
    left: 190px;
    z-index: 2;
    width: 44px;
    height: 44px;
}
.a-right {
    right: 190px;
    z-index: 2;
    width: 44px;
    height: 44px;
}
.foot {
    background-color: #FEBC39;
    width: 100%;
    height: 66px;
}
.wrapper_foot {
    height: 66px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.link {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}
.link:hover {
    color: white;
}
.by_organisation_name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.by_organisation:hover svg path {
    fill: white;
    transition: all 300ms ease-in;
}
.order {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #000000;
}
.sait_icon {
    margin-bottom: 68px;
}
.sait_icon img {
    width: auto;
    height: auto;
}
.sait_icon_block {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.insta {
    margin: 0 38px;
}
.about_us_footer_block {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 30px;
}
.sait_icon_max_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about_us_learn_block {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #000000;
    line-height: 30px;
}
.about_us_support_block {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #000000;
    line-height: 30px;
}
.about_us_footer_block_p_v {
    font-weight: bold;
    font-size: 20px;
}
.visa a img {
    width: 40px;
    height: 31px;
}
.visa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.call_block_text_side_footer {
    line-height: 15px;
}
.call_block_footer {
    font-size: 18px;
    margin-bottom: 35px;
}
.grozdanskiy {
    display: flex;
    align-items: center;
}
.grozdanskiy svg {
    font-style: oblique;
    margin-right: 15px;
    margin-top: 32px;
    margin-bottom: 25px;
}
address {
    font-style: normal;
    font-weight: 600;
}

.promotions_and_news_block {
   margin: 120px 0;
}
.promotions_and_news_info_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.promotions_and_news_info {
    width: 520px;
    height: 464px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
}
.prmation_and_news_photo {
    position: relative;
    width: 485px;
    height: auto;
}
.precent {
    width: 91px;
    height: 35px;
    background-color: #FDE34B;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 18px;
}
.prmation_and_news_photo img {
    margin: 15px 18px 0 18px;
    width: 100%;
    height: auto;
}
.prmation_and_news_text {
    padding: 22px 37px 0 37px;
    display: flex;
    flex-direction: column;
}
.promotion_news_title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    margin-bottom: 13px;
}
.promotion_news_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
}
.react_product_block {
    width: 400px!important;
}


.basket_side {
    position: sticky;
    top: 93px;
    width: 383px;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
}
.basket_name {
    margin: 30px 15px;
}
.basket_empty_full {
    width: 100%;
    height: 750px;
}
.basket_empty {
    min-height: 450px;
    position: relative;
}
.basket_empty img {
    position: absolute;
    left: 20%;
    bottom: 72px;
    width: 247px;
    height: auto;
}
.basket_price {
    height: 300px;
    width: 100%;
    border-top: 1px solid #E8E8E8;
}
.basket_fUll_photo_img {
    width: 64px;
    height: 70px;
}
.basket_full {
    min-height: 750px;
}
.overflow_block {
    max-height: 450px;
    overflow-y: auto;
}
.basket_full_photo_all {
    min-height: 450px;
}
.overflow_block::-webkit-scrollbar {
    display: none;
}
.basket_full_photo {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    margin-bottom: 23px;
    margin-left: 15px;
}
.del_price {
    text-align: center;
    width: max-content;
}
.price_del {
    display: flex;
    flex-direction: column;
}
.basket_full_name_price_red {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-decoration-line: line-through;
    color: #BC2B24;
}
.basket_full_name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.basket_full_name_price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.basket_price_discount_empyty_grey {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #868686;
    opacity: 0.5;
}
.discount_empty_full {
    margin: 0 15px;
}
.discount_empty_full_white {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.basket_price_discount_empyty {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}
.basket_price_discount_empyty_red {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #BC2B24;
    opacity: 0.5;
}
.basket_price_discount_empyty_black {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #464545;
    opacity: 0.5;
}
.discount_empty_checkout {
    margin-top: 33px;
    margin-bottom: 31px;
    width: 352px;
    height: 43px;
    cursor: pointer;
    background-color: #EFAB22;
    border: #EFAB22;
    opacity: 0.5;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #4A350F;
    transition:  all 300ms ease-out;
}
.discount_empty_checkout:hover {
    background-color: transparent;
    color: #EFAB22;
    border: 1px solid #EFAB22;
    transition:  all 300ms ease-in;
}
.basket_full_photo svg {
    cursor: pointer;
}
.enter_promo_code {
    margin-top: 41px;
    display: flex;
    width: 352px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 52px;
}
.enter_promo_code input {
    width: 250px;
    height: 43px;
    border: transparent;
    margin-left: 30px;
}
.enter_promo_code input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #A4A4A4;
    opacity: 0.5;
}
.enter_promo_code_btn {
    border: transparent;
    cursor: pointer;
    width: 93px;
    height: 43px;
    background-color: #BC2B24;
    opacity: 0.5;
    border-radius: 0px 52px 52px 0px;
    transition:  all 300ms ease-out;
}
.enter_promo_code_btn:hover {
    border: 1px solid #BC2B24;
    background-color: transparent;
    transition:  all 300ms ease-in;
}
.enter_promo_code_btn:hover svg path {
    fill: #BC2B24;
}
.price_discount_full {
    margin-top: 23px;
    display: flex;
    justify-content: space-between; 
}
.full_grey_full {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #868686;
    opacity: 1;
}
.full_red_full {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #BC2B24;;
    opacity: 1;
}
.full_black_full {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #464545;
    opacity: 1;
}
.full_opacity {
    opacity: 1;
}
.visa_phone {
    display: none;
}
.call_block_free_footer  {
    margin-top: 4px;
}
.icon_fb_in_vk_media a {
    width: 28px;
    height: 28px;
}
.icon_fb_in_vk_media a svg {
    width: auto;
    height: auto;
}

.black_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    transition: all 300ms;
    transform: translate3d(0, -100vh, 0);
}
.black_background_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
.call_back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    transition: all 300ms;
    transform: translate3d(0, -100vh, 0);
}
.call_back_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
/* call back section */
.call_back_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    width: 520px;
    height: 482px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 34px 28px;
}
.call_back_title_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.call_back_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #868686;
    margin-bottom: 49px;
}
.call_back_block_title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}
.call_back_block_input input {
    width: 465px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    padding: 19px 30px;
    margin-bottom: 37px;
}
.call_back_block_input input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
}
.call_back_btn {
    text-align: center;
    margin-top: 32px;
}
.call_back_btn button {
    width: 375px;
    height: 45px;
    border: 1px solid #EFAB22;
    background-color: #EFAB22;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #4A350F;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.call_back_btn button:hover {
    background-color: transparent;
    color: #EFAB22;
    transition: all 300ms ease-in;
}
.call_back_btn button:hover svg path {
    fill: #EFAB22;
    stroke: #EFAB22;
    transition: all 300ms ease-in;
}
.call_back_btn button svg {
    margin-right: 17px;
}
.call_back_close {
    cursor: pointer;
}
/* call back section end */
/* menu section */
.menu {
    width: 991px;
    height: 100vh;
    background-color: white;
    z-index: 101;
    position: absolute;
    transition: all 300ms;
    transform: translate3d(0, -150vh, 0);
}
.menu_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
.menu_header {
    display: flex;
    align-items: center;
    margin: 33px 0 26px 150px;
}
.menu_header span {
    cursor: pointer;
}
.menu_close {
    margin-right: 146px;
}
.menu hr {
    opacity: 0.5;
    border: 0.5px solid #000000;
}
.navbar_top {
    margin-bottom: 104px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    margin: 76px 0 70px 150px;
}
.navbar_bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    margin: 40px 0 45px 150px;
}
.navbar_bottom_support {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
}
.navbar_bottom_support {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.menu_navbar a:hover {
    color: #BC2B24;
}
.menu_footer {
    margin: 28px 0 20px 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.menu_call_address {
    display: flex;
    align-items: center;
}
.menu_call_address svg {
    margin-right: 17px;
}
.menu_call_phone {
    display: flex;
    flex-direction: column;
}
.menu_call_phone_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 6px;
}
.menu_call_phone_free {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BC2B24;
}
.menu_link_bar {
    display: none;
}
/* menu section end */







/* menu scroll */
.menu_fix {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}
.menu_appeared {
    padding: 27px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.logo_appeared {
    width: 160.78px;
    height: 31px;
}
.appeared_navbar {
    line-height: 10px;
}
.appeared_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}
.appeared_navbar a {
    margin-right: 18px;
}
.accept_orders_appeared svg {
    margin-right: 12px;
}
.accept_orders_appeared {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.accept_orders_appeared {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.accept_orders_date_appeared {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #BC2B24;
}
.d_block {
    display: block;
}
/* menu scroll end */




.color_red {
    color: red;
}


.map_info {
    display: flex;
    position: absolute;
    right: 223px;
    bottom: 48px;
    width: 711px;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 25px 25px;
}
.map_info::after {
    content: ''; 
    position: absolute;
    left: -90px; 
    top: 56px;
    border: 50px solid transparent;
    border-right: 40px solid white;
}
.map_info_photo {
    width: 252px;
    height: 169px;
    margin-right: 29px;
}
.map_info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map_info_adress svg {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.map_info_adress {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.map_info_call {
    margin-top: 27px!important;
    margin-bottom: 27px!important;
}

.mobile_fix_menu_block {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 110;
    bottom: 0;
    width: 100%;
}
.mobile_fix_menu {
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 30px;
}
.mobile_fix_menu_basket {
    position: relative;
}
.mobile_fix_menu_basket_number {
    position: absolute;
    text-align: center;
    width: 11px;
    height: 11px;
    top: 0;
    right: 0;
    background-color: #BC2B24;
    color: black;
    border-radius: 50%;
    font-size: 8px;
}