@media screen and (max-width: 1780px) {
    .accept_orders_appeared {
        font-size: 12px;
    }
    .accept_orders_date_appeared {
        font-size: 9px;
    }
    .appeared_navbar a {
        font-size: 14px;
    }
}
@media screen and (max-width: 1620px) {
    .logo_appeared {
        width: 120px;
        height: auto;
    }
    .appeared_navbar a {
        margin-right: 12px;
    }
}
@media screen and (max-width: 1500px) {
    .header_top {
        margin: 0 20px;
    }
    .header_bottom {
        margin: 25px 20px;
    }
    .wrapper {
        margin: 0 20px;
    }
    .appeared_navbar {
        font-size: 10px;
    }
    .accept_orders_appeared  {
        font-size: 10px;
    }
    .accept_orders_date_appeared {
        font-size: 8px;
    }
    .burger_appeared {
        margin-right: 10px;
    }
    .menu_appeared  {
        padding: 27px 20px;
    }
}
@media screen and (max-width: 1200px) {
    .sait_icon a img {
        width: 200px;
    }
    .appeared_navbar a {
        margin-right: 8px;
        font-size: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .general_title {
        font-size: 30px;
    }
    .menu_fix {
        display: none;
    } 
    .header_top_bottom {
        background-color: white;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
    }


    .product_title_block {
        margin-bottom: 15px;
    }
    .product_price_button_block {
        align-items: baseline;
    }
    .catalog_title_side {
        font-size: 17px;
    }
    .product_icon svg {
        width: 23px;
        height: 23px;
    }
    .content {
        margin: 40px 0 40px;
    }
    .d_flex {
        justify-content: flex-start;
    }
    .catalog_img_side {
        width: 114px;
        height: 63px; 
        margin-bottom: 25px;
    }
    .catalog_img_side img {
        width: 100%;
    }
    .discount_hit_block {
        left: 20px;
    }
    .dicount_block svg {
        width: 39px;
        height: 39px;
    }
    .hit_block svg {
        width: 39px;
        height: 39px;
    }
    .product_text_block {
        margin-bottom: 4px;
    }
    .product_block {
        width: 196px;
        height: 374px;
    }
    .product_title {
        font-size: 18px;
    }
    .product_desc {
        font-size: 14px;
    }
    .product_icon {
        width: 23px;
        height: 23px;
    }
    .product_img_block {
        width: 85px;
        height: 93px;
    }
    .product_img_block img {
        width: 100%;
    }
    .product_price {
        font-size: 15px;
        margin-bottom: 19px;
    }
    .product_discount_price {
        font-size: 10px;
    }
    .product_add {
        width: 152px;
        height: 35px;
        font-size: 12px;
    }



    .link {
        display: none;
    }
    .foot {
        height: 83px;
    }
    .by_organisation_name {
        margin-top: 5px;
        font-size: 14px;
    }
    .order {
        font-size: 18px;
        margin-top: 15px;
    }
    .error_block {
        margin: 98px 0 60px 0;
    }
    .about_us, .contact, .accept_orders_block, .header_bottom, .line {
        display: none;
    }
    .map_info_text .accept_orders_block {
        display: flex;
    }
    .map_info_text .accept_orders_block .accept_orders_text_side .accept_orders {
        font-size: 13px;
    }
    .map_info_text .accept_orders_date {
        font-size: 10px;
    }
    .map_info_text .accept_orders_block svg {
        width: 19px;
    }
    .map_info_text .menu_call_address {
        text-align: left;
    }
    .logo_block a svg {
        width: 139px;
        height: 27px;
    }
    .burger svg {
        width: 24px;
        height: 24px; 
    }
    .accept_orders {
        font-size: 11px;
    }
    .call_block_free {
        font-size: 7px;
    }
    .header_top {
        padding: 18px 0;
    }
    .call_block svg {
        width: 17px;
        height: 17px;
    }
    .call_block_text_side {
        margin-left: 8px;
    }

    main {
        margin: 0 0;
        overflow: hidden;
    }
    .visa {
        display: none;
    }
    .visa_phone {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    .sait_icon_max_block {
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .sait_icon {
        text-align: center;
        margin-bottom: 0;
    }
    .sait_icon a {
        width: 316px;
        height: 61px;
    }
    .sait_icon a img {
        width: auto;
        height: auto;
    }
    .icon_fb_in_vk {
        margin-top: 43px;
        margin-bottom: 30px;
    }
    .about_us_footer_block {
        margin-bottom: 10px;
    }
    .about_us_footer_block, .about_us_learn_block, .about_us_footer_block_p_v {
        display: none;
    }
    .grozdanskiy svg {
        margin-top: 0;
        margin-bottom: 0;
    }
    .grozdanskiy {
        justify-content: center;
        margin-bottom: 20px;
    }
    .call_block_footer {
        justify-content: center;
    }
    .call_block_footer {
        margin-bottom: 0;
    }
    .call_block_free_footer {
        font-size: 14px;
    }
    .about_us_footer_block a {
        margin-bottom: 20px;
    }
    .about_us_learn_block a {
        margin-bottom: 20px;
    }
    .visa_phone a {
        margin: 0 3px;
    }
    .error_image_block {
        width: auto;
        height: auto;
    }
    .error_image_block img {
        width: 340px;
        height: 257px;
    }
    .error_block {
        margin: 68px 0 60px 0;
    }
    .error_number {
        font-size: 30px;
    }
    .error_info {
        font-size: 30px;
    }
    .back_block {
        font-size: 23px;
    }
    .error_block {
        margin: 98px 0 60px 0;
    } 



    
    .map_block {
        margin-bottom: 73px;
    }
    .map_info_photo {
        width: 180px;
        height: 86px;
    }
    .map_info {
        width: 455px;
        height: 144px;
        bottom: 230px;
        right: 350px;
        padding: 10px 10px;
    }
    .map_info::after {
        border: 80px solid transparent;
        border-top: 50px solid white;
        left: 162px;
        top: 131px;
    }
    .map_info_photo img {
        width: 100%;
        height: auto;
    }


    .thank_block {
        margin-top: 90px;
        margin-bottom: 45px;
        height: 176px;
    }
    .promotions_and_news_block {
        margin: 0 0 60px 0;
    }
    .promotions_and_news_info {
        width: 374px;
        height: 419px;
        text-align: left;
    }
    .promotions_and_news_info_block {
        grid-row-gap: 15px;
    }
    .prmation_and_news_photo {
        width: 334px;
    }
    .prmation_and_news_photo img {
        width: 100%;
        height: 100%;
    }
    .promotion_news_title {
        font-size: 18px;
    }
    .promotion_news_text {
        font-size: 14px;
    }
    .call_block_footer {
        font-size: 18px;
    }



    /* menu section */
    .menu {
        width: 414px;
    }
    .menu_header {
        margin: 20px 0 15px 20px;
    }
    .menu_logo svg {
        width: 161px;
        height: 31px;
    }
    .menu_close {
        margin-right: 83px;
    }
    .navbar_top {
        font-size: 19px;
        margin: 35px 0 56px 20px;
    }
    .navbar_bottom {
        font-size: 13px;
        margin: 35px 0 43px 20px;
    }
    .navbar_bottom_support {
        font-size: 16px;
    }
    .menu_footer {
        margin: 0;
        margin-top: 11px;
        display: flex;
        align-items: center;    
        flex-direction: column-reverse;
    }
    .menu_call_phone_title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .menu_call_address {
        margin-bottom: 11px;
    }
    .menu_call_phone_free {
        font-size: 9px;
    }
    .menu_call_address svg {
        width: 19px;
        margin-right: 12px;
    }
    .menu_link_bar {
        text-align: center;
        display: block;
    }
    .menu_link_bar svg {
        margin: 0 12px;
        margin-bottom: 17px;
    }
    /* menu section end */

    .foot {
        margin-bottom: 60px;
    }
    .mobile_fix_menu_block {
        display: block;
    }

}
@media screen and (max-width: 768px) {
    .product_block {
        width: 182px;
    }
}
@media screen and (max-width: 768px) {
    .thank_block {
        text-align: center;
    }
    .text_red, .text_black {
        font-size: 12px;
    }
    .thank_thank .general_title {
        font-size: 20px;
    }
}
@media screen and (max-width: 540px) {
    .navbar_top {
        margin: 35px 0 30px 20px;
    }
    .product_block {
        width: 166px;
    }
}
@media screen and (max-width: 520px) {
    .call_back_block {
        width: 100%;
        height: auto;
        padding: auto;
        padding: 10px 10px;
    }
    .call_back_block_input input {
        width: 100%;
        margin-bottom: 12px;
        height: 30px;
    }
    .call_back_btn {
        margin-top: 0;
    }
    .call_back_btn button {
        width: 100%;
        margin-top: 12px;
        height: 30px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .call_back_block_title {
        font-size: 16px;
    }
    .call_back_close svg {
        width: 13px;
    }
    .call_back_text {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .call_back_title_close {
        margin-bottom: 12px;
    }
    .call_back_block_input input::placeholder {
        font-size: 12px;
    }
    .call_back_btn button svg {
        margin-right: 5px;
        width: 10px;
    }
}
@media screen and (max-width: 375px) {
    .menu {
        width: 320px;
    }
    .menu_header {
        margin: 10px 0 10px 10px;
    }
    .menu_close {
        margin-right: 50px;
    }
    .navbar_top {
        font-size: 14px;
        margin: 10px 0 20px 10px;
    }
    .navbar_bottom {
        font-size: 11px;
        margin: 10px 0 20px 10px;
    }
    .navbar_bottom_support  {
        font-size: 14px;
    }
    .menu_call_address svg {
        width: 14px;
    }
    .menu_call_phone_title {
        font-size: 11px;
    }
    .menu_call_phone_free {
        font-size: 7px;
    }
    .menu_call_address {
        margin-bottom: 0;
    }
    .menu_footer {
        margin-top: 7px;
    }
    .product_block {
        width: 160px;
    }
}
@media screen and (max-width: 280px) {
    .sait_icon a {
        width: 200px;
        height: 34px;
    }
    .sait_icon a img {
        width: 200px;
        height: 34px;
    }
    .menu {
        width: 280px;
    }
    .menu_footer {
        margin-bottom: 7px;
    }
}
@media screen and (max-width: 320px) {
    .logo_block a svg {
        width: 120px;
    }
    .product_block {
        width: 140px!important;
    }
    .product_block_salads_small {
        width: 140px!important;
    }
    .sait_icon a img {
        width: 200px!important;
    }
}