@media screen and (max-width: 1024px) {
    .address_working_phone_block {
        margin-top: 27px;
        margin-bottom: 60px;
    }
    .address_working_phone_block {
        display: contents;
    }
    .address_working_phone {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .address_working_phone {
        width: 414px;
        height: 157px;
    }
    .map_block {
        margin: 60px 0;
    }
    .address_working_phone svg {
        width: 35px;
        height: 35px;
    }
    .address_working_phone_title {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .address_working_phone_text {
        font-size: 15px;
    }
    .remis_inquire_block {
        margin: 0 0 60px 0;
    }
    .remis_inquire_title {
        font-size: 30px;
    }
    .remis_inquire_text {
        font-size: 15px;
        margin: 15px 0 30px 0;
    }
    .remis_inquire_form {
        display: contents;
        text-align: center;
    }
    .remis_inquire_form input {
        margin-left: auto;
        margin-right: auto;
        width: 374px;
        height: 56px;
        font-size: 16px;
    }
    .remis_inquire_form_btn button {
        display: none;
    }
    .remis_inquire_form_text textarea {
        font-size: 16px;
    }
    .remis_inquire_form_text {
        margin: 0;
    }
    .inp_number {
        margin: 25px 0;
    }
    .remis_inquire_form_text_btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .remis_inquire_form_text_btn_text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .remis_inquire_form_text_btn_text_bold {
        font-weight: bold;
    }
}
@media screen and (max-width: 414px) {
    .address_working_phone {
        width: 100%!important;
    }
}