.address_working_phone_block {
    display: flex;
    justify-content: space-between;
}
.address_working_phone {
    width: 520px;
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.address_working_phone_block {
    margin-top: 65px;
    margin-bottom: 100px;
}
.address_working_phone_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 27px;
    margin-bottom: 11px;
}
.address_working_phone_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}
.remis_inquire_block {
    margin: 82px 0 88px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.remis_inquire_title {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
}
.remis_inquire_text {
    margin: 15px 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #868686;
}
.remis_inquire_form {
    display: flex;
    justify-content: center;
}
.remis_inquire_form input {
    width: 382px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding-left: 30px;
}
.remis_inquire_form button {
    width: 382px;
    height: 63px;
    background-color: #FEBC38;
    border: 1px solid #FEBC38;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #4A350F;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.remis_inquire_form button:hover {
    background-color: transparent;
    color: #FEBC38;
    transition: all 300ms ease-in;
}
.inp_number {
    margin: 20px 0;
}
.remis_inquire_form_btn {
    display: flex;
    flex-direction: column;
}
.remis_inquire_form_text {
    margin-left: 30px;
}
.remis_inquire_form_text textarea {
    width: 383px;
    height: 223px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding: 19px 30px;
    resize: none;
}
.remis_inquire_form_text_btn {
    display: none;
}
.remis_inquire_form_text_btn_text {
    display: none;
}
.map {
    position: relative;
}