@media screen and (max-width: 1780px) {
    .discount_promotions_specification_cola {
        display: none;
    }
    .cart_basket_full_right {
        display: none;
    }
    .basket_full_media {
        display: block;
        margin: 60px 0;
    }
    .cart_basket_full_left {
        width: 100%!important;
        min-width: 100%;
    }  
    .basket_full_photo_all_small {
        max-width: 100%;
    }
    .discount_promotions_specification {
        margin-top: 0;
    }
    .draggable {
        height: 620px;
    }
    .basket_price {
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .enter_promo_code {
        margin-top: 45px;
    }
    .discount_empty_checkout {
        margin-bottom: 35px;
    }
    .price_discount_full {
        margin-top: 36px;
    }
    .cart_basket_full {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .draggable {
        height: 430px;
    }
    .discount_promotions_specification h5 {
        font-size: 20px;
        text-align: left;
        margin-bottom: 25px;
    }
    .slick-prev, .slick-next {
        width: 28px;
        height: 28px;
    }
    .slick-prev::before {
        width: 6px;
        top: 1px;
        left: 8px;
    }
    .slick-next::before {
        width: 6px;
        top: 1px;
        left: 8px;
    }
    .slick-prev {
        right: 40px;
    }
    .react_product_block {
        width: 180px!important;
    }
    .product_block {
        text-align: left;
        margin-top: 0;
    }
}
@media screen and (max-width: 850px) {
    .cart_basket_empty_right {
        display: none;
    }
    .cart_basket_empty {
        margin: 54px 0 61px;
    }
    .continue_shopping {
        width: 374px;
        height: 63px;
        margin-top: 40px;
    }
}