.discount_promotions_specification {
    margin-bottom: 125px;
}
.discount_promotions_specification h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    margin-bottom: 32px;
}
.slick-prev, .slick-next {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 9;    
}
.slick-prev::before {
    position: absolute;
    content: "<";
    width: 9.5px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-next::before {
    position: absolute;
    content: ">";
    width: 9.5px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-prev, .slick-next {
    top: -10%!important;
}
.slick-prev {
    left: auto;
    right: 60px;
}
.slick-next {
    right: 0;
}
.slick-initialized .slick-slide {
    padding: 15px;
}
.promotions_and_news_info {
    width: 100%;
    padding: 15px 18px;
}
.prmation_and_news_photo img {
    width:100%;
    height:auto;
    margin:0
}
.precent {
    left: 0;
}
.basket_price {
    width: 405px;
    height: 437px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.basket_empty img {
    position: initial;
}
.basket_empty {
    min-height: auto;
}
.basket_side {
    border: transparent;
}
.cart_basket_empty_left {
    width: 100%;
    text-align: center;
}
.cart_basket_empty_right {
    max-width: 405px;
}
.cart_basket_full_right {
    max-width: 405px;
}
.cart_basket_full_left {
    min-width: 1215px;
}
.cart_basket_empty {
    display: flex;
    margin: 105px 0;
    display: none;
}
.enter_promo_code {
    margin-top: 160px;
}
.continue_shopping {
    width: 375px;
    height: 45px;
    background-color: #EFAB22;
    border: 1px solid #EFAB22;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #4A350F;
    transition: all 300ms ease-out;
    margin-top: 22px;
    cursor: pointer;
}
.continue_shopping:hover {
    background-color: transparent;
    color: #EFAB22;
    transition: all 300ms ease-in;
}
.discount_promotions_specification {
    margin-top: 100px;
    margin-bottom: 0;
}
.cart_basket_full {
    display: flex;
    margin: 105px 0;
    /* display: none; */
}
.discount_empty_full hr {
    margin: 14px 0;
    border: 0.3px solid #CFCFCF;
}
.basket_full_photo_all hr {
    margin: 24px 0;
    border: 1px solid #CFCFCF;
}
.basket_full_photo_all_small {
    max-width: 1068px;
}
.small_product_info {
    display: flex;
}
.small_product_text {
    display: flex;
    flex-direction: column;
}
.small_product_add {
    width: 148px;
    height: 43px;
    background-color: #FEBC39;
    border: #FEBC39;
    box-shadow: 0px 6px 9px 2px rgba(233, 179, 72, 0.6);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4A350F;
    transition: all 300ms ease-out;
}
.small_product_add:hover {
    background-color: transparent;
    color: #FEBC39;
    transition: all 300ms ease-in;
}
.promotion_news_text {
    margin: 19px 0;
}
.small_product_info:hover {
    box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
}
.prmation_and_news_photo {
    width: auto;
    height: auto;
    padding-bottom: 24px;
}
.basket_full {
    height: 437px;
    min-height: auto;
}
.basket_full_media {
    display: none;
}
.basket_full_media_title {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    text-align: left;
    margin-top: 26px;
}
.discount_empty_full {
    position: relative;
}
.discount_empty_full_white {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    z-index: 10;
}