main{
    margin-bottom: 50px;
}
.discounts_office_yegoryevtsk {
    margin-top: 65px;
    margin-bottom: 100px;
    width: 1066px;
    margin-left: auto;
    margin-right: auto;
}
.discounts_office_yegoryevtsk_photo {
    background-image: url(../img/egorevtska.png);
    background-repeat: no-repeat;
    width: 1067px;
    height: 410px;
    background-color: #222222;
}
.discounts_office_yegoryevtsk_text p {
    margin: 28px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #000000;
}
.discounts_office_yegoryevtsk_title p {
    margin-top: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}
.discounts_office_yegoryevtsk_link svg {
    margin-right: 30px;
}
.discounts_office_yegoryevtsk_photo_info {
    width: 400px;
    height: 78px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 510px;
}
.yegoryevtsk_pizza_discount_menu {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FDE34B;
}
.yegoryevtsk_pizza_discount_ofice {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    margin: 38px 0;
}
.yegoryevtsk_pizza_discount {
    background-image: url(../img/skidki.png);
    background-size: cover;
    width: 404px;
    height: 67px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #4A350F;
    margin-top: 64px;
}
.discount_promotions_specification h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    margin-bottom: 32px;
}
.discount_promotions_specification {
    margin-bottom: 120px;
}
.wrapper hr {
    width: 100%;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 100px 0 54px 0;
}
.same_slider_news button {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 9;    
}
.slick-prev::before {
    position: absolute;
    content: "<";
    width: 9.5px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-next::before {
    position: absolute;
    content: ">";
    width: 9.5px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-prev, .slick-next {
    top: -10%!important;
}
.slick-prev {
    left: auto;
    right: 35px;
}
.slick-initialized .slick-slide {
    padding:15px;
}
.promotions_and_news_info {
    width:100%;
    padding:15px 18px;
}
.prmation_and_news_photo img {
    width:100%;
    height:auto;
    margin:0
}
.precent {
    left: 0;
}
.prmation_and_news_photo {
    width: auto;
}
.draggable {
    width: 100%;
    height: 490px;
}
.discount_hr_media {
    display: none;
}
.react_product_block {
    width: 520px!important;
}
.slick-dots {
    display: none!important;
}