@media screen and (max-width: 1870px) {
    .react_product_block {
        width: 400px!important;
    }
}
@media screen and (max-width: 1500px) {
    .slick-prev, .slick-next {
        top: -10%!important;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        right: 60px;
    }
}
@media screen and (max-width: 1066px) {
    .discounts_office_yegoryevtsk {
        width: 100%;
        text-align: left;
    }
    .discounts_office_yegoryevtsk_photo {
        width: 100%;
        position: relative;
    }
}
@media screen and (max-width: 1024px) {
    .discounts_office_yegoryevtsk_photo {
        background-image: url(../img/yeg_1024.png);
        height: 258px;
    }
    .yegoryevtsk_pizza_discount_ofice {
        margin-bottom: 25px;
    }
    .yegoryevtsk_pizza_discount {
        width: 201px;
        height: 40px;
        font-size: 21px;
        margin-top: 0;
    }
    .discounts_office_yegoryevtsk_photo_info {
        position: absolute;
        margin-left: 0;
        right: 30px;
        top: 17px;
        width: 201px;
    }
    .yegoryevtsk_pizza_discount_ofice, .yegoryevtsk_pizza_discount_menu {
        font-size: 20px;
    }
    .discounts_office_yegoryevtsk_title p {
        margin-top: 35px;
        margin-bottom: 25px;
        font-size: 20px;
        text-align: center;
    }
    .discounts_office_yegoryevtsk_text p {
        font-size: 16px;
    }
    .discounts_office_yegoryevtsk_link span svg {
        width: 25px;
        height: 25px;
    }
    .discounts_office_yegoryevtsk {
        margin-bottom: 35px;
    }
    .discount_promotions_specification h5 {
        text-align: left;
        font-size: 20px;
    }
    .same_slider_news button {
        width: 28px;
        height: 28px;
    }
    .slick-prev::before {
        width: 6px;
        top: 1px;
        left: 7px;
    }
    .slick-next::before {
        width: 6px;
        top: 1px;
        left: 8px;
    }
    .draggable {
        height: 440px!important;
    }
    .slick-prev, .slick-next {
        top: -10%!important;
    }
    .slick-prev {
        right: 40px;
    }
    .discount_promotions_specification {
        margin-bottom: 60px;
    }
    .discount_hr {
        display: none;
    }
    .discount_hr_media {
        display: block;
        margin-top: 0;
        margin-bottom: 35px;
        width: 100%;
        border: 1px solid #F8F8F8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}