.order_page_full {
    display: flex;
    justify-content: space-between;
}
.basket_price {
    border: transparent;
    height: 501px;
}
.basket_full {
    min-height: auto;
}
.discount_empty_full {
    width: 405px;
    height: 501px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 8px 8px;
    padding: 25px 15px;
}
.discount_empty_full h3 , h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 37px;
}
.discount_empty_full h4 {
    margin-bottom: 20px;
}
.discount_empty_full hr {
    width: 369px;
    height: 0px;
    border: 0.3px solid #CFCFCF;
    margin: 14px 0;
}
.discount_empty_full button {
    width: 375px;
    height: 45px;
}
.payment_method {
    margin-top: 30px;
}
.payment_method_input {
    display: flex;
    align-items: center;
}
.payment_method_input_icom {
    margin-left: 17px;
    margin-right: 21px;
}
.payment_method_input input {
    width: 24px;
    height: 24px;
    border: 1px solid #BC2B24;
    box-sizing: border-box;
}
.payment_method_input span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
}
.order_page_full {
    margin-top: 66px;
}
.order_page_left h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}
.personal_danny_name_phone {
    margin-bottom: 35px;
    display: flex;
    justify-content: start;
}
.personal_danny_name {
    margin-right: 30px;
}
.personal_danny {
    margin-bottom: 30px;
}
.personal_danny_name_phone input {
    width: 520px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding: 19px 30px;
}
.personal_danny textarea {
    width: 1070px;
    height: 105px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding: 19px 30px;
    resize: none;
}
.delivery_method input {
    width: 1070px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding: 19px 30px;
    margin-bottom: 18px;
}
.delivery_method_down input {
    width: 1070px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #868686;
    padding: 19px 30px;
    margin-bottom: 18px;
}
.delivery_method_chekbox {
    display: flex;
    margin-bottom: 32px;
}
.payment_method_input {
    margin-right: 63px;
}