.order_block {
    margin-top: 65px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
}
.order_block_info {
    padding: 16px 80px 16px 38px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border-radius: 4px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.16);
}
.order_number_time {
    width: 412px;
    height: 451px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.number_order_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 33px;
    margin-bottom: 31px;
}
.number_order {
    font-style: normal;
    font-weight: normal;
    font-size: 88px;
    color: #5A5A5A;
}
.order_link {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-decoration-line: underline;
    color: #FEBE3E;
    margin-bottom: 16px;
}
.order_link:hover {
    color: black;
}
.order_time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 88px;
    color: #5A5A5A;
}
.order_text_title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    margin-right: 51px;
}
.order_address {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-decoration: underline;
    color: #000000;
}
.basket_quantity_block {
    display: flex;
    justify-content: space-between;
}
.basket_quantity_block span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.order_info_block hr {
    border: 0.3px solid #CFCFCF;
    margin: 20px 0;
}
.order_text {
    margin-bottom: 37px;
    text-align: left;
}
.order_price {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
}
.order_price_text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #868686;
    margin-bottom: 13px;
}
.order_price_price {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
