@media screen and (max-width: 1650px) {
    .order_page_full {
        display: contents;
    }
    .discount_empty_full {
        margin-right: auto;
        margin-left: auto;
    }
    .basket_full {
        margin-bottom: 60px;
    }
    .personal_danny_name_phone {
        display: contents;
    }
    .personal_danny_name_phone input {
        width: 100%;
        margin: 25px 0;
    }
    .order_page_left {
        margin-top: 45px;
    }
    .personal_danny textarea {
        width: 100%;
    }
    .delivery_method input {
        width: 100%;
    }
    .delivery_method_down input {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .order_page_left {
        margin-top: 0px;
    }
    .personal_danny {
        text-align: left;
    }
}