@media screen and (max-width: 1500px) {
    .order_block {
        margin-bottom: 112px;
        margin-top: 65px;
    }
}
@media screen and (max-width: 1024px) {
    .thank_red, .thank_black {
        font-size: 25px;
    }
    .order_number_time {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .order_number_time {
        width: 374px;
        height: 384px;
    }
    .number_order, .order_time {
        font-size: 50px;
    }
    .order_link {
        font-size: 20px;
        margin-top: 19px;
        margin-bottom: 16px;
    }
    .number_order_title {
        margin-bottom: 25px;
    }
    .order_text_title {
        font-size: 20px;
    }
    .order_address {
        font-size: 16px;
    }
    .basket_quantity_block span {
        font-size: 18px;
    }
    .order_price_price {
        font-size: 23px;
    }
    .order_price_text {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .order_block_info {
        padding: 16px 20px 16px 20px;
    }
}
@media screen and (max-width: 414px) {
    .order_number_time {
        width: 100%;
    }
}