.pizza_block {
    display: flex;
    margin-bottom: 121px;
    justify-content: space-between;
}
.product_basket_block {
    margin-top: 30px;
}
.products_sec {
    max-width: 1200px;
}
.product_desc_block {
    text-align: left;
}