.slick-prev, .slick-next {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 9;    
}
.slick-prev::before {
    position: absolute;
    content: "<";
    width: 10px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-next::before {
    position: absolute;
    content: ">";
    width: 10px;
    height: 19px;
    color: #B1B1B1;
    top: 10px;
    left: 16px;
}
.slick-prev, .slick-next {
    top: -3%!important;
}
.slick-prev {
    left: auto;
    right: 60px;
}
.slick-next {
    right: -0;
}
.discount_promotions_specification .slick-initialized .slick-list {
    height: 604px!important;
}
.discount_promotions_specification h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
}
.discount_promotions_specification {
    margin-bottom: 160px;
}
.product_special_block {
    margin-bottom: 100px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.product_special_info_block {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.product_special_info_block h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
    margin-bottom: 32px;
}
.product_special_photo_block h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
    margin-bottom: 32px;
    display: none;
}
.product_special_info_info {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #868686;
    margin-bottom: 67px;
    width: 545px;
}
.product_special_info_block_price {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #4A350F;
    margin-bottom: 30px;
}
.product_special_add_more_block h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 24px;
}
.product_special_add_more_block {
    padding-top: 80px;
}
.add_more_product {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_more_product input {
    margin-right: 22px;
    width: 21px;
    height: 21px;
    background-color: #FFC240;
}
.add_more_product_info {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.add_more_product_price {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #4A350F;
}
.product_special_photo_block {
    width: 516px;
    height: 441px;
    text-align: center;
}
.preview_product_block .product_special_photo_block {
    margin-left: auto;
    margin-right: auto;
}
.preview_product_block .product_special_photo_block .product_special_photo_big span img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.product_special_photo_big .draggable img {
    width: auto;
}



.product_special_photo_big .draggable .slick-track {
    width: max-content!important;
}
.product_special_photo_small button {
    display: none!important;
}
.product_special_photo_small .draggable .slick-track {
    transform: none!important;
    margin: 0;
}
.product_special_photo_small .draggable .slick-track .slick-slide {
    width: 80px!important;
    margin-right: 24px;
}
.product_special_photo_big .draggable {
    height: 100%;
}

.product_special_photo_small_activeimg img {
    margin-right: 10px;
    border-radius: 11px;
    border: 4px solid #FEC040;
}
.product_special_photo_small_img img {
    margin-right: 10px;
    border-radius: 11px;
}
.draggable {
    padding: 6px!important;
}
.preview_product_block {
    width: 899px;
    height: 763px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 110;
}
.slick-cloned {
    width: 400px!important;
}
.slick-active {
    width: 400px!important;
}


.preview_product_block_small_photo img {
    max-width: -webkit-fill-available;
    height: auto;
}
.slick-dots {
    display: none!important;
}
.preview_product_block .slick-prev {
    top: -65%!important;
}
.preview_product_block .slick-prev::before {
    color: #FEBC38;
}
.preview_product_block .slick-next::before {
    color: #FEBC38;
}
.preview_product_block .slick-prev {
    left: 0!important;
    border: 1px solid #FEBC38;
    background-color: transparent;
    transition: all 300ms ease-out;
}
.preview_product_block .slick-prev:hover {
    background-color: #FEBC38;
    transition: all 300ms ease-in;
}
.preview_product_block .slick-next {
    top: -65%!important;
    border: 1px solid #FEBC38;
    background-color: transparent;
    transition: all 300ms ease-out;
}
.preview_product_block .slick-next:hover {
    background-color: #FEBC38;
    transition: all 300ms ease-in;
}
.preview_product_block_small_photo .draggable a {
    width: 150px!important;
    height: 160px!important;
    margin: 0 8px;
}
.active_border {
    border: 5px solid #FEBC38;
    border-radius: 26px;
}

.preview_product_block_small_photo .slick-track {
    transform: translate3d(0px, 0px, 0px)!important;
}
.preview_product_block_big_photo img {
    left: 20%!important;
}
.product_special_add_more_block .product_add {
    display: none;
}

.product_special_photo_big span {
    width: max-content;
    cursor: pointer;
}
.preview_product_block span {
    position: absolute;
    right: 30px;
    top: 44px;
    cursor: pointer;
}
.black_background_product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    transition: all 300ms;
    transform: translate3d(0, -100vh, 0);
}
.black_background_product_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}

