@media screen and (max-width: 1650px) {
    .product_special_block {
        display: contents;
    }
    .product_special_photo_block {
        margin-left: auto;
        margin-right: auto;
    }
    .product_special_info_block h2 {
        display: none;
    }
    .product_special_photo_block h2 {
        display: block;
        margin-bottom: 0;
    }
    .product_special_photo_block {
        margin-bottom: 167px;
        margin-top: 90px;
    }
    .add_more_product_price_block {
        margin-left: 87px;
    }
    .add_more_product {
        justify-content: center;
    }
    .product_special_info_block .product_add {
        display: none;
    }
    .product_special_add_more_block .product_add {
        display: block;
        margin-bottom: 57px;
        margin-left: auto;
        margin-right: auto;
        width: 282px;
        height: 50px;
        box-shadow: 0px 6px 9px 2px rgba(233, 179, 72, 0.6);
        border-radius: 8px;
    }
    .product_special_add_more_block {
        padding-top: 0;
    }
    .product_special_info_block_price {
        display: none;
    }
    .product_special_info_info {
        margin-bottom: 37px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: left;
    }
    .product_special_add_more_block h4 {
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    .discount_promotions_specification .slick-initialized .slick-list {
        height: 422px!important;
    }
    .discount_promotions_specification .slick-initialized .slick-list .slick-track {
        height: 422px!important;
    }
    .discount_promotions_specification {
        margin-bottom: 60px;
        margin-top: 28px;
    }
    .discount_promotions_specification h5 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 28px;
    }
    .slick-prev, .slick-next {
        top: -2%!important;
    }
    .slick-prev {
        right: 40px;
    }
    .slick-prev::before {
        width: 6px;
        top: 1px;
        left: 7px;
    }
    .slick-next::before {
        width: 6px;
        top: 1px;
        left: 8px;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        right: 60px;
    }
    .same_slider_foor button {
        width: 28px;
        height: 28px;
    }
    .react_product_block {
        width: 180px!important;
    }
    .product_block {
        text-align: left;
        margin-top: 0;
    }
    .discount_hit_block {
        left: 20px;
    }
    .product_price_button_block {
        align-items: baseline;
    }
    .product_block {
        height: auto;
    }
    .product_add {
        width: 152px!important;
        height: 35px!important;
        margin-bottom: 19px;
    }
    .product_special_add_more_block .product_add {
        width: 282px!important;
        height: 50px!important;
    }
    .preview_product_block {
        width: 374px;
        height: 327px;
    }
    .preview_product_block span svg {
        width: 9px;
        height: 10px;
    }
    .preview_product_block span {
        top: 18px;
        right: 12px;
    }
    .slick-active, .slick-cloned {
        width: 243px!important;
    }
}