@media screen and (max-width: 3000px) {
    .react_product_block {
        width: 520px!important;
    }
}
@media screen and (max-width: 1920px) {
    .react_product_block {
        width: auto!important;
        margin-bottom: 25px;
    }
}