@media screen and (max-width: 1900px) {
    .product_side {
        max-width: 1150px;
    }
}
@media screen and (max-width: 1850px) {
    .product_side {
        max-width: 100%;
    }
    .basket_side {
        display: none;
    }
}
@media screen and (max-width: 1500px) {
    .content {
        text-align: left;
    }
}
@media screen and (max-width: 1024px) {
    .catalog_block {
        display: grid;
        grid-template-columns: repeat(8,1fr);
        overflow-x: auto;
    }
    .catalog_block::-webkit-scrollbar {
        display: none;
    }
    .catalog_block {
        margin: 28px 0 57px;
        height: 170px;
    }
    .catalog_product_block {
        width: 124px;
        height: 159px;
        margin-right: 35px;  
        border: none;
    }
    
    .product_img_small_block {
        width: 110px;
        height: 110px;
    }
    .product_img_small_block img {
        width: 100%;
        height: auto;
    }
    .product_text_small_block {
        margin: 21px 0 3px;
        padding: 0 19px;
    }
    .product_title_block {
        font-size: 18px;
    }
    .product_block_small {
        height: 319px;
    }
    .product_price_button_block {
        margin-bottom: 19px;
    }
    .product_title_block {
        margin-bottom: 4px;
    }
    .product_text_small_block .product_title_block .product_icon svg {
        display: none;
    }
    .product_block_salads_small {
        width: 176px;
        height: 319px;
    }
    .salads_img_small_block {
        width: 110px;
        height: 70px;
        margin-bottom: 61px;
        padding-top: 40px;
    }
    .salads_img_small_block img {
        width: 100%;
        height: auto;
    }
    .product_block_cola_small {
        width: 176px;
        height: 319px;
    }
    .cola_img_small_block {
        width: 131px;
        height: 131px;
    }
    .cola_img_small_block img {
        width: 100%;
        height: auto;
    }
    .control-c {
        display: none!important;
    }
    .general_slider {
        margin-top: 90px;
    }
}


@media screen and (max-width: 768px) {
    .general_slider .slick-slide{
        margin: 0 25px;
    }
}
@media screen and (max-width: 680px) {
    .products_sec{
        justify-content: space-between;
    } 
}
@media screen and (max-width: 320px) {
    .accept_orders {
        font-size: 10px;
    }
}
@media screen and (max-width: 280px) {
    .accept_orders {
        font-size: 8px;
    }
    .logo_block a svg {
        width: 110px;
    }
}