.general_slider{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}
.general_slider .slick-slide{
    margin: 0 45px;
}

.slider_block a{
    width: 100%;
    height: 610px;

}
.catalog_block{
    margin: 122px 0 179px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catalog_product_block{
    width: 400px;
    height: 242px;
    background-color: #FFFFFF;
    border: 1px solid #F4F4F4;
    justify-content: center;
    cursor: pointer;
}
.catalog_product_block:hover{
    box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
    z-index: 2;
}
.catalog_link_block{
    justify-content: center;
    flex-direction: column;
}
.catalog_img_side{
    width: 216px;
    height: 121px;
    text-align: center;
    margin-bottom: 18px;
}
.catalog_img_side img{
    width: 100%;
    height: auto;
}
.catalog_title_side {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}
.product_basket_block {
    align-items: flex-start;
}
.product_side {
    max-width: 1200px;
}
.product_block_small {
    height: 458px;
}
.product_block_cola_small {
    height: 386px;
}
.product_block_salads_small {
    height: 423px;
}
.product_img_small_block {
    text-align: center;
    width: 262px;
    height: 262px;
    margin: 0 auto;
}
.cola_img_small_block {
    text-align: center;
    width: 182px;
    height: 182px;
    margin: 0 auto;
}
.salads_img_small_block {
    text-align: center;
    width: 262px;
    height: 166px;
    margin: 0 auto;
    margin-bottom: 46px;
}
.product_text_small_block {
    margin: 10px 19px 33px;
}


.map_block {
    width: 100%;
    height: 523px;
    margin-bottom: 120px;
}
.map {
    position: relative;
}